.card-group{

    width: 960;
    border: 1px solid firebrick;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-style:dotted;
}
.card{
    width: 172px;
    margin: 10px;
}

.card img {
    width: 100%;
}

